* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #d4d6dc;
}

p {
  max-width: 20rem;
  margin: 1.875rem auto;
  padding: 1.875rem;
  border-radius: 0.3125rem;
  background: #fff;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
a:hover {
  color: #9ca0ae;
}
